# Build results
/target
/schema

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
.cargo-ok

# Text file backups
**/*.rs.bk

# macOS
.DS_Store

# IDEs
*.iml
.idea

# Ignore the temporary outputs from contract instaniation
*.json
store_tx_hash.txt
instantiate_tx_hash.txt
code_id.txt
contract_address.txt